In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv(Path('./median_house_and_CPI.csv'))
df.head()

   Unnamed: 0  Year County  Median_House_Price  CPI-U
0           0  1990     CA            193096.2  135.0
1           1  1991     CA            200736.8  140.6
2           2  1992     CA            196947.5  145.6
3           3  1993     CA            188352.5  149.4
4           4  1994     CA            184345.2  151.5

In [18]:
df.dtypes

Unnamed: 0              int64
Year                    int64
County                 object
Median_House_Price    float64
CPI-U                 float64
dtype: object

In [34]:
df_update = df.drop(['Unnamed: 0'], axis =1).set_index('Year').rename(columns={'County': 'Georgraphical_Area', 'Median_House_Price' : 'Avg_House_Price'})
df_update.head()

     Georgraphical_Area  Avg_House_Price  CPI-U
Year
1990                 CA         193096.2  135.0
1991                 CA         200736.8  140.6
1992                 CA         196947.5  145.6
1993                 CA         188352.5  149.4
1994                 CA         184345.2  151.5

In [35]:
df_update.dtypes

Georgraphical_Area     object
Avg_House_Price       float64
CPI-U                 float64
dtype: object

In [41]:
df_final = df_update.reset_index()
df_final.head()

   Year Georgraphical_Area  Avg_House_Price  CPI-U
0  1990                 CA         193096.2  135.0
1  1991                 CA         200736.8  140.6
2  1992                 CA         196947.5  145.6
3  1993                 CA         188352.5  149.4
4  1994                 CA         184345.2  151.5

In [42]:
df_final.dtypes

Year                    int64
Georgraphical_Area     object
Avg_House_Price       float64
CPI-U                 float64
dtype: object